
<div class ="column">
<h2> LOGIN </h2>

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button is-primary"> login</button>
    {{!-- <a href="/signup" class="button is-danger"> signup</a> --}}
   {{!-- <a href="/signup" ><button type="submit" class="button is-primary">signup</button></a> --}}
  </div>
</form>

<div class ="column">
<h2> Create a new Account </h2>


<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>
</div>



<script src="/javascript/login.js"></script>

